@import "fonts"

//----------------------fonts---------------------
$fonts: 'Roboto', sans-serif
//---------------------end-fonts---------------------

//----------------------color---------------------
$accent: #DD4E6A
$accent--hover: #D0294A

$text: #1D2025
$text--light: #918487

$link: #A3253D

$blue: #4791EA
$blue--hover: #2F7DDC

$bg--dark: #DBD3D2
$bg--yellow: #F6F3E3
$bg--light: #F4EDEB
$bg--footer: #1D2025

$green: #27AE60

$orange: #F59134

//---------------------end-color---------------------

body
	overflow-x: hidden
	position: relative
	min-width: 320px
	font-family: $fonts
	font-size: 16px
	color: $text
	line-height: 1.5
	font-weight: 400

::selection
	background-color: $accent
	color: #fff

section
	position: relative
	
a, div, ul, li, input, textarea
	&:hover,
	&:focus
		outline: none

h1, h2, h3, h4, h5, h6
	font-weight: 600
	line-height: 1.2
	margin: 0
	padding: 0

h2
	font-size: 36px
	text-align: center
	margin-bottom: 50px
	font-weight: 400
	line-height: 1.4

a
	color: $text
	transition: all .6s

	&:hover,
	&:focus
		color: $text

svg, rect, g, path
	transition: all .6s

g, path
	opacity: 1

ul
	margin: 0
	padding: 0
	list-style-type: none

sub, sup
	font-size: 60%


b, strong
	font-weight: 700

p
	margin: 0
	padding: 0

a,
a:focus,
a:hover
	outline: none
	text-decoration: none
	transition: all .6s

button,
button:focus,
button:hover
	outline: none
	text-decoration: none
	transition: all .6s
	cursor: pointer
	

.no-scroll
	overflow: hidden


.container
	position: relative
	max-width: 1250px
	width: 100%
	margin: 0 auto
	padding: 0 15px

.main
	overflow: hidden

//-----------dase--------------
@import "_base/btn"
@import "_base/form"
@import "_base/modal"
@import "_base/hamburger"
@import "_base/animation"


