@import "libs"
@import "base"


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 30px 0 15px
	transition: all .6s
	z-index: 1000
	background-color: #fff

	&--active,
	&--menu
		padding: 15px 0
		box-shadow: 0 0 5px 0 rgba(#000, .15)

		.header
			&__logo
				img
					width: 120px

			&__container,
			&__nav
				align-items: center

				ul
					padding-top: 0

			&__info
				padding-top: 0

	&__container
		position: relative
		display: flex
		justify-content: space-between

	&__logo
		width: 200px

		img
			width: 200px
			transition: all .6s

		&--page
			width: 150px

			img
				width: 150px

	&__nav
		ul
			display: flex
			padding-top: 10px
			transition: all .6s

		li
			margin-right: 15px
			
			letter-spacing: 0.5px

			&:last-child
				margin-right: 30px

		a
			display: flex
			align-items: center
			justify-content: center
			height: 32px
			padding: 0 10px
			font-size: 12px
			line-height: 1
			text-transform: uppercase
			opacity: 0.8
			font-weight: 600

			&:hover,
			&:focus
				background-color: $accent--hover
				color: #fff

				g, path, svg
					fill: #fff
					opacity: 1

		svg, path
			margin-left: 10px
			width: 11px
			fill: #1D2025

		g
			fill: #1D2025
			opacity: .4

		span
			display: block
			position: relative
			margin: 0 25px

			&::before
				content: ''
				position: absolute
				width: 2px
				height: 50px
				background-color: $accent
				transform: translate(0, -20%) rotate(45deg)

		&_logout
			width: 32px
			height: 32px
			background-color: #DBD3D2
			padding: 0 !important
			margin: 0 auto

			svg
				margin-left: 0
				width: auto


	&__info
		font-weight: 700
		padding-top: 10px
		display: flex
		align-items: flex-start

		&_tel
			margin-right: 20px
			color: $accent

			&:hover,
			&:focus
				color: $accent--hover

		&_mail
			position: relative
			top: -5px
			width: 32px
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			transition: all .6s

			&:hover,
			&:focus
				cursor: pointer
				background-color: $bg--light

				ul
					display: block

			&:focus
				background-color: $bg--dark

			ul
				display: none
				position: absolute
				top: 30px	
				right: 0
				background: #fff
				border: 2px solid #DBD3D2
				padding: 15px 0
				width: 255px

			a
				display: flex
				align-items: center
				height: 32px
				color: #A3253D
				padding: 0 25px
				font-weight: 400

				&:hover,
				&:focus
					background-color: $bg--dark
					color: $accent

				img
					margin-right: 13px
		
		&--page

			&_tel
				font-size: 12px

	&--page
		padding: 15px 25px
		border-bottom: 1px solid #F4EDEB


.hero
	background-image: url(../img/hero.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	padding: 
		top: 320px
		bottom: 225px

	&__content
		width: 500px

	&__sub-title
		
		text-transform: uppercase
		letter-spacing: .5px
		margin-bottom: 15px

	h1
		font-size: 56px
		margin-bottom: 30px

	&__text
		font-size: 20px
		line-height: 1.4
		margin-bottom: 45px

	&__decor
		position: absolute
		left: 50%
		top: 63%
		z-index: 998


.menu
	padding: 
		top: 25px
		bottom: 50px

	&__container
		display: flex

	&__nav
		position: relative
		margin-top: -105px
		background-color: #fff
		padding:
			top: 105px
			right: 110px

		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			right: 100%
			bottom: 0
			width: 500%
			background-color: #fff

		&_title
			color: $accent
			text-transform: uppercase
			margin-bottom: 40px
			letter-spacing: 0.1em
			font-weight: 600
			font-size: 12px

		li
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0
			

		a
			white-space: nowrap

			&:hover,
			&:focus
				color: $accent--hover

		b
			color: $accent
			margin-right: 20px
			font-size: 12px

	&__form
		background-color: $bg--dark
		display: flex
		justify-content: space-between
		width: 100%

		&_wrap
			padding: 50px 40px
			width: 68%

		h3
			margin-bottom: 25px

		&_sub-title
			margin-bottom: 45px

		&_line
			display: flex
			justify-content: space-between
			margin-bottom: 25px

		input
			border-color: #fff

		button
			background-color: transparent
			border: none
			text-transform: uppercase
			color: $accent
			border-bottom: 1px solid #fff
			letter-spacing: 0.1em
			font-weight: 500
			outline: none

			&:hover,
			&:focus
				color: #fff
				background-color: $accent
				border-color: $accent

		&_policy
			font-size: 12px

			a
				color: $accent

				&:hover,
				&:focus
					text-decoration: underline
					color: $accent--hover


		&_sale
			display: flex
			align-items: flex-end
			color: #fff
			background-image: url(../img/menu__form_sale.jpg)
			background-position: center
			background-size: cover
			padding:
				left: 25px
				right: 25px
				bottom: 45px
			width: 32%
			z-index: 999


.navigation
	position: absolute
	left: 25px
	top: 50px
	font-size: 12px

	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 10px

	a
		position: relative
		display: flex
		justify-content: center
		align-items: center
		width: 24px
		height: 24px
		color: $bg--dark
		white-space: nowrap

		&:hover,
		&:focus
			background-color: $bg--light
			color: $bg--dark

			g, path
				fill: #918487

	b
		letter-spacing: 0.1em

	span
		color: $text
	
	g, path
		fill: #DBD3D2

	&__active
		b
			color: $accent

	span
		position: absolute
		top: 90%
		left: 0


.footer
	padding: 35px
	background-image: url(../img/footer__bg.png)
	background-repeat: no-repeat
	background-position: 70% 40px
	background-color: $bg--footer

	h3
		color: #918487
		text-transform: uppercase
		font-size: 12px
		margin-bottom: 20px

	a, p
		color: rgba(#fff, .8)

	a
		&:hover,
		&:focus
			color: $accent

			g, path, rect
				fill: $accent

		g, path, rect, svg
			fill: $bg--dark

	p
		margin-bottom: 10px

	li
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

	&__container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	
	&__wrap
		width: 50%
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&__col
		display: flex
		flex-direction: column
		justify-content: space-between


	&__copy
		color: #918487

	&__form

		p
			color: #918487
			margin-bottom: 20px

		&_line
			display: flex
			justify-content: space-between

		input
			border-bottom: 1px solid #918487
			color: #fff

			&::placeholder
				color: #918487


		button
			background-color: transparent
			border: none
			text-transform: uppercase
			color: $accent
			border-bottom: 1px solid #918487
			letter-spacing: 0.1em
			font-weight: 500
			outline: none

			&:hover,
			&:focus
				color: #fff
				background-color: #fff
				border-color: $accent

		g, path, rect
			fill: $accent
	
	&__soc
		display: flex
		align-items: center

		a
			margin-right: 25px

			&:last-child
				margin-right: 0


#vk_groups
	margin: 0 auto


.pagination
	margin-bottom: 80px

	ul
		display: flex
		justify-content: center

	li
		margin-right: 5px

	a
		display: flex
		align-items: center
		justify-content: center
		width: 32px
		height: 32px
		color: #918487

	.active
		color: #fff
		background-color: $accent

	&__prev,
	&__next
		position: relative
		display: block
		width: 32px
		height: 32px
		opacity: .3
		transition: all .6s

		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			transform: translate(0, -50%)

		&::before
			right: 10px
			width: 20px
			height: 2px
			background-color: $accent

		&:after
			border-bottom: 4px solid transparent
			border-top: 4px solid transparent

	&__prev
		margin-right: 35px !important

		&:hover,
		&:focus
			transform: translate(-8px, 0)

		&:after
			left: -3px
			border-left: 4px solid transparent
			border-right: 4px solid $accent

	&__next
		margin-left: 35px !important

		&:hover,
		&:focus
			transform: translate(8px, 0)

		&:after
			right: 3px
			border-left: 4px solid $accent
			border-right: 4px solid transparent
	
	&__focus
		opacity: 1


.feedback

	time
		color: #918487

	&__item
		display: flex
		flex-wrap: wrap
		margin-bottom: 50px
		max-width: 95%

		&--reverse
			flex-direction: row-reverse
			margin-right: 0
			margin-left: auto

			.feedback__img
				margin:
					left: 55px
					right: auto

	&__img
		width: 360px
		height: 360px
		margin-right: 55px

		img
			width: 100%
			height: auto

	&__content
		max-width: 60%
		width: 100%

		&_header
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			align-items: center
			margin-bottom: 30px
			padding-top: 25px
			width: 100%

			p
				color: #A3253D

			div
				display: flex
				align-items: center

		&_avatar
			position: relative
			overflow: hidden
			width: 40px
			height: 40px
			border-radius: 50%
			margin-right: 15px

			img
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)

		&_main
			p
				font-size: 18px
				margin-bottom: 15px

				&:last-child
					margin-bottom: 0


.login
	padding: 140px 0

	h1
		font-size: 38px
		margin-bottom: 30px

	&__header
		margin-bottom: 70px

		p
			margin-bottom: 20px
			font-size: 20px

			&:last-child
				margin-bottom: 0



//-----------page--------------
@import "_page/index"
@import "_page/courses"
@import "_page/student"

//-----------page--------------
@import "media"

